<h2><%= @duplicates.flatten.uniq.count %> Possible Duplicates</h2>
<% @duplicates.each do |set| %>
<h4><%= link_to "#{set.first.lat}, #{set.first.lng}", locations_path(:lat => set.first.lat.to_s, :lng => set.first.lng.to_s), :target => "_blank"  %></h4>
<ul>
  <% set.each do |location| %>
    <li><%= link_to location.name, location %> <%= location.distance_to(set.first) %> </li>
  <% end %>
</ul>
<% end %>