<style type="text/css" media="screen">
  #admin_map {width:100%;height:450px;position:fixed;left:0;top:0px}
  .container.main-content {margin-top:450px}
</style>

<h1>Parkskaters.net</h1>

<ol id="parklist">
<% $redis.keys("anemone:pages:http://parkskaters.net/viewdetail.php*")[0..1000].each do |key| %>
  <% skatepark = Pushwood::Skatepark.new($redis.hget(key, "body")) %>
  <li data-lat="<%= skatepark.lat %>" data-lng="<%= skatepark.lng %>">
    <%= $redis.hget(key, "url") %><br>
    <%= skatepark.lat %>,
    <%= skatepark.lng %>
  </li>
<% end %>
</ol>