html, body {background:#fff;}
/*html, body {background:#2d292f;}*/

h1 {font-size:161.6%;}
h2 {font-size:153.9%;}
h3 {font-size:146.5%;}
h4 {font-size:138.5%;}
h5 {font-size:131%;}
h6 {font-size:123.1%;}
a {text-decoration:none;color:#f29305;}
p {margin:5px 0 5px 0;}
strong {font-weight:600;}
fieldset{border:1px solid #000;padding:10px;}



input[type="search"] { -webkit-appearance: searchfield; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: searchfield-cancel-button;
display: inline-block;
}
input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: darkGray;
}



/********************************************* location */
/*.location .index */
#search_form {float:right;margin:0 0 10px 0;}
/********************************************* new location */
#vote_widget {margin:50px;}
.img_bottom {float:left;background:url(/images/imgbkg_tl.png) no-repeat top left;padding-left:10px;}
.img_top {float:left;padding:0 10px 0 0;background:url(/images/imgbkg_tr.png) no-repeat top right;}
a#image_a, a#image_b {background:url(/images/push-it.png) no-repeat top left;display:block;width:264px;height:45px;overflow:hidden;text-indent:-40em;
	
	position:relative;top:-30px;left:10px;
	}

.vote_choice img {border:5px solid #fff;}
/********************************************* new location */
body.locations.new #map_canvas {width:500px;height:500px;}
/********************************************* new trick */
#map_canvas {width:960px;height:600px;display:block;}
/********************************************* rails */
#flash_notice,#flash_error,#flash_alert{padding:5px 8px;margin-bottom:10px;width:320px;}
#flash_notice{background-color:#CFC;border:solid 1px #6C6;}
#flash_error,#flash_alert{background-color:#FCC;border:solid 1px #C66;}
.fieldWithErrors{display:inline;}
.error_messages{width:400px;border:2px solid #CF0000;padding:0px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0;font-size:12px;}
.error_messages h2{text-align:left;font-weight:bold;padding:5px 10px;font-size:12px;margin:0;background-color:#c00;color:#fff;}
.error_messages p{margin:8px 10px;}
.error_messages ul{margin:0;}
.authentications{margin-bottom:30px;}
.authentication{float:left;background-color:#EEE;border:solid 1px #999;padding:5px 10px;-moz-border-radius:8px;-webkit-border-radius:8px;position:relative;margin-right:10px;}
.authentication .remove{text-decoration:none;position:absolute;top:3px;right:3px;color:#333;padding:2px 4px;font-size:10px;}
.authentication .remove:hover{color:#FFF;background-color:#777;-moz-border-radius:7px;-webkit-border-radius:7px;}
.authentication img{float:left;}
.authentication .provider,.authentication .uid{margin-left:38px;margin-right:20px;}
.authentication .provider{font-weight:bold;}
.authentication .uid{color:#666;font-size:11px;}
.auth_provider img{display:block;}
.auth_provider{float:left;text-decoration:none;margin-right:20px;text-align:center;margin-bottom:10px;}
#notice{color:green;}
.field_with_errors{padding:2px;background-color:red;display:table;}
#error_explanation{width:450px;border:2px solid red;padding:7px;padding-bottom:0;margin-bottom:20px;background-color:#f0f0f0;}
#error_explanation h2{text-align:left;font-weight:bold;padding:5px 5px 5px 15px;font-size:12px;margin:-7px;margin-bottom:0px;background-color:#c00;color:#fff;}
#error_explanation ul li{font-size:12px;list-style:square;}
/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
.clearfix{display:inline-block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
