<% content_for :title do %>
Skatepark Locator App
<% end %>
<% content_for :head do %>
<meta property="og:type"        content="pushwood:skate_park" />
<meta property="og:url"         content="<%= root_url %>" /> 
<meta property="og:title"       content="Pushwood Skate Parks" /> 
<meta property="og:description" content="" /> 
<meta property="og:image"       content="" />
<% end %>
<div class="container">
  <header>
    <h1>Support</h1>
    <p>
    </p>
  </header>
</div>

<div class="pageit container">
  <div id="content" class="container">
    <div class="span12">
      <p>Need help? Contact help@pushwood.com</p>
    </div>
  </div>
</div>



