<% content_for :title do %>
Skatepark Locator App
<% end %>
<% content_for :head do %>
<meta property="og:type"        content="pushwood:skate_park" />
<meta property="og:url"         content="<%= root_url %>" /> 
<meta property="og:title"       content="Pushwood Skate Parks" /> 
<meta property="og:description" content="" /> 
<meta property="og:image"       content="" />
<% end %>
<div class="container">
  <header>
    <h1>Terms of Use</h1>
    <p>
    </p>
  </header>
</div>

<div class="pageit container">
  <div id="content" class="container">
    <div class="span12">
      <p>These Terms of Use shall apply to all websites owned and/or operated by the Pushwood, including without limitation the website on which these Terms of Use are posted and Pushwood’s parents, subsidiary and/or affiliate entities whether or not referred to directly as Pushwood. Pushwood maintains this and other websites as a service to its customers. By accessing and/or using the web sites owned, operated and/or maintained by Pushwood, you are expressly agreeing to comply with and be bound by the following Terms of Use and Pushwood’s Privacy Policy separately provided, as well as all applicable laws and regulations. IF YOU DO NOT AGREE WITH THESE TERMS OF USE, YOU ARE NOT AUTHORIZED TO USE THE PUSHWOOD SITES AND MUST NOT ACCESS OR USE THEM. Pushwood may revise and update these Terms of Use at any time; please periodically review them, because your continued usage of the Pushwood Sites indicates your agreement with any such changes.
      </p>

      <p>You further understand and agree that any updates, enhancements or added features of any Pushwood Sites or services shall be made part of these Terms of Use. Additionally, certain of the Pushwood's Sites may be subject to registration, processing and handling fees and/or subject to additional terms of use. You are responsible for promptly paying those fees to insure your right to access the associated Pushwood Sites and/or services.</p>

      <h4>Copyright.</h4>
      <p>Ownership. All content included on the Pushwood Sites, such as text, graphics, logos, button icons, images, audio clips and software, as well as the compilation of any of the foregoing (meaning the collection, arrangement and assembly), are the property of Pushwood or its content suppliers and protected by U.S. and international copyright laws. You acknowledge and agree that Content contained in sponsor advertisements or information presented to you through the Pushwood Sites or by advertisers is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except as expressly authorized by Pushwood or such advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create derivative works based on the Pushwood Sites, services, products or software, in whole or in part.</p>
    </div>
  </div>
</div>