<div class="container">
  <header>
    <h1>News</h1>
    <p class="lead">
    </p>
  </header>
</div>
<div class="pageit container">
  <div id="content" class="container">
    <div class="row">
      <div class="span9">
        <small>Monday, December 9, 2013</small>

        <p>
          This last year has been quite busy for me and I struggled to find enough time to completely rebuild pushwood.  
          I thought it would be easiest to rebuild the whole app because I wanted to use Google maps,
          <a href="http://en.wikipedia.org/wiki/Automatic_Reference_Counting">ARC</a>, 
          <a href="http://en.wikipedia.org/wiki/Core_Data">CoreData</a> and 
          <a href="http://beta.cocoapods.org/about">Cocoapods</a>.  Hind sight is in 20/20, right?
        </p>

        <p>
          I released Version 2 last week with most of the features from V1 and a lot of cool features in with works.
          Now that I have V2 in the app store it will be much easier for me to release a new feature every week or so.  
          Here is what's in the works.
        </p>

        <ol>
          <li>Version 2.1 Add a skatepark</li>
          <li>Version 2.2 Edit skateparks</li>
          <li>Improve image upload</li>
        </ol>
      </div>
    </div>
  </div>
</div>