/*
 * Basic site structure setup.
 * 
 * 3rd party techniques used:
 * Sticky Footer Solution by Steve Hatcher (http://www.cssstickyfooter.com)
 */

// VARIABLE DEFINITIONS
$page_width: 960px;
$footer_height: 36px;
// END VARIABLES


/*	Less Framework 4
	http://lessframework.com
	by Joni Korpi
	License: http://opensource.org/licenses/mit-license.php	*/


/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}


/* Selection colours (easy to forget) */

::selection 	 	{background: rgb(0,147,147);}
::-moz-selection 	{background: rgb(0,147,147);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(0,147,147);}

/* Pushwood layout */
html, body {
  height: 100%; // sticky footer
}

body {
	color: #000;
	font-size: 14px;
}

#wrap {
  min-height: 100%; // sticky footer
}

#container {
/*  width: $page_width;*/
  margin: 0 auto;
  border-right: 1px solid #bbb;
  border-left: 1px solid #bbb;
  padding: 15px;
  // sticky footer
  overflow:auto;
	padding-bottom: $footer_height;
	// end sticky footer
}

html {background:url(/images/header-bkg.png) repeat-x top left rgb(250,250,250);}
#header { color:rgb(200,200,200); height:35px; padding-top:5px; margin-bottom:18px; }
#header a {color:rgb(250,250,250); text-decoration:none}
#header p {margin:5px 0 5px 5px}
#header span {float:right}

#footer {
  border-top: 1px solid #bbb;
  color: #666;
  font-size: 12px;
  width: $page_width;
  margin: 0 auto;
  // sticky footer
  position: relative;
  margin-top: -$footer_height;
  height: $footer_height;
  clear: both;
  // end sticky footer
}

#footer p {margin-top:10px}

.cont {margin:8px 0 10px 0;}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	width: 896px;
	padding: 0 48px 84px 0;
	margin:0 auto;	
	background: url(/images/header-bkg.png) repeat-x top left rgb(250,250,250);
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}
#content {width:528px;float:left;margin:0;padding:0;}
	#imagesHolder img {margin:0;padding:0}
#sidebar {width:344px;float:left;margin:0;padding:0 0 0 24px;}

#wideContent {width:620px;float:left;margin:0;padding:0;}
#skinnySidebar {width:252px;float:left;margin:0;padding:0 0 0 24px;}


/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

/*@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	body {
		width: 712px;
		padding: 0 28px 60px;
	}
}*/



/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

/*@media only screen and (max-width: 767px) {
	
	body {
		width: 252px;
		padding:0 5px;
	}
	h2 {
		font-size: 22px;
		line-height: 21px;
	}
		
	#content {width:300px;float:left;margin:0;padding:0;background:#ccc}
		#skatespotMap {width:252px;}
	#sidebar {width:252px;float:left;margin:0;padding:0;}
	
	
}*/



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

/*@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	body {
		width: 436px;
		padding: 0 22px 48px;
	}
	
}*/


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

/*@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	}
	
}*/