/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.feedImageHolder {
  margin:0 5px 10px 5px;
  font-weight:bold;
  .userInfo {height:25px;}
}
.userInfo {height:25px;}

.locationName {float:left;}
.uploadTime {float:right;font-weight:normal;color:#ccc}