
	#popularPlaces {background:#636363;padding:10px 10px 10px 0}
	#popularPlaces p {text-align:right;;display:block}
	#popularPlaces a {font-size:16px;font-weight:bold;color:#fff;}



body[data-controller=locations] {
  
  body[data-action=show] {
    div#historyList ul li {margin-bottom:10px}
    div#historyList ul ul li {list-style:none;margin-bottom:0px}
    div#historyList ul ul {margin-left:10px}
    form.display-inline {float:left;margin:-5px 10px 0 0}
  }
  
  #locations {width:300px;overflow:auto;float:left;}
  #map_canvas {width:100%;height:600px;float:left;}

  #map {width:100%;height:400px}

  .new_location {display:block;margin:5px;}
  .location_item {padding:8px 5px;}
  .location_item:hover {background:#EBF2FC;}
  .item-l {width:30px;float:left;}
  .item-r {width:200px;float:left;}
  .item-r a {font-size: 123%;font-weight:bold;text-decoration:none;}
  .item-r a:hover {text-decoration:underline;}  


  div#content h1 {margin:9px 0 9px 0;}
  #pageAnchors {margin:9px 0 9px 0;}
  #pageAnchors li { float:left; display:inline-block; margin:0 20px 0 0; }
  #pageAnchors a {text-decoration:none}

  a.gridImage {display:block;width:262px;float:left;margin:0 1px 2px 1px;background:#ccc}
  a.gridImage img {display:block;margin:auto;}

  #sidebar h3 {margin-top:10px;}
  #sidebar .ajaxful-rating-wrapper {width:125px;}

  /* show */
  a#editBtn {
    text-decoration:none;
    display:block;
    width:300px;
    padding:4px 0;
    background:#e7f1fe;
    text-align:center;
  }
  form#new_comment {
    #comment_comment {width:100%;height:180px;}
    input[type="submit"] {
      margin:10px 0 30px 0;
    }
  }
  #imagesHolder {margin:10px 0;}
  
  /* new edit */
  form.new_location, form.edit_location {
    textarea#location_description {
      width:500px;height:200px;
    }
  }
  
  li.field {list-style:none}
  #diagram_fields {
    margin:0;padding:0;
  }
  #sortable {
    margin:0;padding:0;
    li {
      list-style:none;
      margin:0;padding:0;
    }    
  }
  #addField {
    display:block;
    width:300px;
    padding:4px 0;
    background:#e7f1fe;
    text-align:center;
  }
  
  #exactLocationMap {width:525px;height:500px;background:#e0e0e0;display:inline-block;}
}



/*
* Style by Rogie http://www.komodomedia.com/blog/2007/01/css-star-rating-redux/
*/

.ajaxful-rating,
.ajaxful-rating a:hover,
.ajaxful-rating a:active,
.ajaxful-rating a:focus,
.ajaxful-rating .show-value{
    background: url(/images/ajaxful_rating/star.png) left -1000px repeat-x;
}
.ajaxful-rating{
    position: relative;
    /*width: 125px; this is setted dynamically */
    height: 25px;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    background-position: left top;
}
.ajaxful-rating li{ display: inline; }
.ajaxful-rating a,
.ajaxful-rating span,
.ajaxful-rating .show-value{
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -1000em;
    height: 25px;
    line-height: 25px;
    outline: none;
    overflow: hidden;
    border: none;
}
.ajaxful-rating a:hover,
.ajaxful-rating a:active,
.ajaxful-rating a:focus{
    background-position: left bottom;
}

.ajaxful-rating .show-value{
    z-index: 1;
    background-position: left center;
}

/* smaller star */
.ajaxful-rating.small{
    /*width: 50px; this is setted dynamically */
    height: 10px;
}
.ajaxful-rating.small,
.ajaxful-rating.small a:hover,
.ajaxful-rating.small a:active,
.ajaxful-rating.small a:focus,
.ajaxful-rating.small .show-value{
    background-image: url(/images/ajaxful_rating/star_small.png);
    line-height: 10px;
    height: 10px;
}