<li class="field">
<% if f.object.img.file? %>
  <span class="ui-icon ui-icon-arrowthick-2-n-s move_image"></span>
  <%= image_tag(f.object.img.url(:tiny)) %><br>
  approved: <%= f.object.approved %><br>
  <%= link_to_remove_fields "remove", f, {:class => "remove"} %><br><br>
  <%# f.hidden_field :position %>
<% else %>
  <div class="clearfix">
    <label for="fileInput">Image</label>
    <div class="input">
      <%= f.file_field :img %>
    </div>
  </div>
<% end %>		
</li>


