<li class="field">
<% if f.object.img.file? %>
	<span class="ui-icon ui-icon-arrowthick-2-n-s move_image"></span>
	<%= image_tag(f.object.img.url(:thumb)) %><br/>
	<%= link_to_remove_fields "remove", f, {:class => "remove"} %><br/>
	<%# f.hidden_field :position %>
<% else %>
	<%= f.label :img %><br />
	<%= f.file_field :img %>
<% end %>		
</li>