<% content_for :head do %>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<% end %>

<%= form_tag(api_v1_locations_path(:format => :json), {:id=>"search_form", :remote => true}) do |f| -%>
	<%= text_field_tag "search", "", {:type => "search", :placeholder => "Search"} %>
<% end -%>

<div id="locationapp">
	<div id="locations">
		<%= link_to 'New Location', new_location_path, :class => "new_location" %>		
		<div id="location_list"></div>
	</div>
	<div id="map_canvas"></div>	
</div>



