<ul class="nav nav-list bs-docs-sidenav">
  <% @nav.each do |item| %>
    <li>
      <%= link_to "/#{["places", @country, @state, item['term']].compact.map(&:parameterize).join("/")}" do %>
        <i class="icon-chevron-right"></i> <%= item['term'] %> <em class="pull-right muted"><%= number_with_delimiter item['count'] %></em>
      <% end %>
     </li>
  <% end %>
</ul>


